<div class="headtitle">
  <div class="headtitle__en">{{ subtitle }}</div>
  <h1 class="headtitle__title">{{ title }}</h1>
</div>

<div class="mp__top">
  <div class="mp__top__name">{{ customer.last_name }} {{ customer.first_name }}さま</div>
  <a href="{{ routes.account_logout_url }}" class="mp__top__logout">ログアウト</a>
</div>


{% if backbtn != 'no' %}
  <div class="mp__topbtn" data-class="aaa">
    <a href="/account" class="btns btns--outline btns--arrow btns--back mp__topbtn--back">マイページトップへ戻る</a>
    {% if request.path == '/account/addresses' %}
      <a href="/account/login#recover" class="btns btns--default mp__topbtn--changepass">パスワード変更</a>
    {% endif %}
  </div>
{% endif %}