{% comment %}
  【サイドバー】〇〇から探す
{% endcomment %}

<div class="sidebar__menu__box">
  <p class="sidebar__menu__title">予算から探す</p>
  <ul class="sidebar__menu__list">
  {% for link in linklists[section.settings.main_linklist_01].links %}
   {% if link.links == blank %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ link.url }}">{{link.title}}</a>
    </li>
   {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="sidebar__menu__box">
  <p class="sidebar__menu__title">目的から探す</p>
  <ul class="sidebar__menu__list">
  {% for link in linklists[section.settings.main_linklist_02].links %}
   {% if link.links == blank %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ link.url }}">{{link.title}}</a>
    </li>
   {% endif %}
  {% endfor %}
  </ul>
</div>

<div class="sidebar__menu__box">
  <p class="sidebar__menu__title">種類から探す</p>
  <ul class="sidebar__menu__list">
  {% for link in linklists[section.settings.main_linklist_03].links %}
   {% if link.links == blank %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ link.url }}">{{link.title}}</a>
    </li>
   {% endif %}
  {% endfor %}
  </ul>
</div>

{% schema %}
{
  "name": "〇〇から探す",
  "class": "sidebar__menu",
  "disabled_on": {
    "groups": ["header","footer","aside"]
  },
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist_01",
      "label": "予算から探す",
    },
    {
      "type": "link_list",
      "id": "main_linklist_02",
      "label": "目的から探す",
    },
    {
      "type": "link_list",
      "id": "main_linklist_03",
      "label": "種類から探す",
    }
  ],
  "presets": [
    {
      "name": "〇〇から探す"
    }
  ]
}
{% endschema %}