{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    padding-left: calc({{ section.settings.padding_left }}px * 0.75);

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-left: {{ section.settings.padding_left }}px;
    }
  }

{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
  <label for="add_price">{{ section.settings.heading }}</label>
  <p class="line-item-property__field">
    <label for="price_option1">+{{ section.settings.gift_fee_option1}}円</label>
    <input id="price_option1" type="radio" name="add_price" form="product-form-{{ section.id }}" value="{{ section.settings.gift_fee_option1 }}">
    <label for="price_option2">+{{ section.settings.gift_fee_option2 }}円</label>
    <input id="price_option2" type="radio" name="add_price" form="product-form-{{ section.id }}" value="{{ section.settings.gift_fee_option2 }}">
  </p>
  </div>
</div>

{% schema %}
{
  "name": "Extra fee",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading extra fee",
      "default": "Option test"
    },
    {
      "id": "gift_fee_option1",
      "type": "number",
      "label": "Extra fee option1",
      "default": 0
    },
    {
      "id": "gift_fee_option2",
      "type": "number",
      "label": "Extra fee option2",
      "default": 500
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "padding_left",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "Extra fee"
    }
  ],
  ,
  "templates": ["password8"]
}
{% endschema %}

<script>

   function addHiddenExtraFeeInForm() {

     const productInfoContainer = document.querySelector('.product__info-container');
      const sectionId = productInfoContainer.querySelector('input[name="section-id"]').value;
      console.log('sectionId', sectionId);

     const newInput = document.createElement('input');
      newInput.class = 'field__input';
      newInput.setAttribute('form', 'product-form-' + sectionId);
      newInput.type = 'hidden';
      newInput.id = 'extra-fee';
      newInput.value = 'Option 1: 5,000円, Option 4: No price';
      newInput.name = 'properties[Extra fee]';
      productInfoContainer.appendChild(newInput);

     const newInput2 = document.createElement('input');
      newInput2.class = 'field__input';
      newInput2.setAttribute('form', 'product-form-' + sectionId);
      newInput2.type = 'hidden';
      newInput2.id = 'extra-fee2';
      newInput2.value = '5,000円';
      newInput2.name = 'properties[_hiddenPropertyName[0]]';
      productInfoContainer.appendChild(newInput2);

     const newInput3 = document.createElement('input');
      newInput3.class = 'field__input';
      newInput3.setAttribute('form', 'product-form-' + sectionId);
      newInput3.type = 'hidden';
      newInput3.id = 'extra-fee2';
      newInput3.value = 'No price';
      newInput3.name = 'properties[_hiddenPropertyName[1]]';
      productInfoContainer.appendChild(newInput3);

     
   }

    document.addEventListener('DOMContentLoaded', function() {
      addHiddenExtraFeeInForm();
  });
</script>
